*{
  margin: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  margin-top: 200px;
  font-family: 'Cinzel', serif;
  background-image: url(https://i.ibb.co/XjtfbHT/desafio02.png);
  background-repeat: no-repeat;
  background-size: cover;

}

h1 span {
  color: #DB2777;
}

h1 {
  color: #151718;
  font-weight: 700;
  line-height: 86px;
  font-size: 64px;
  margin-bottom: 0%;
  
  
}
p{
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 24px;
  
  
}

a{
  color:black ;
  padding: 12px 32px;
  text-decoration: none;
  
}
a:hover,
.btn{
  color: white;
  background-color: #DB2777;
  border-radius: 80px;
  text-decoration: none;
  
}
